# no hidden file
.*

# except these
!.gitignore
!.aldev.yaml
!.gitkeep
!.prettierrc
!.eslintrc.cjs
!.gitlab-ci.yml

# no temp file
bin/
tmp/
node_modules/

# no generated data or code here - because it's a template, and we want each real project to generate its own code
deploy/
data/translations/*
api/conf-*.yaml